.header {
    background-color: #90eb88;
    padding: 50px;
   
       }
       .nav{
               
        float:left;
        font-size: 20px;
        margin-left: 300px; ;
        text-align: left;
        color: rgb(83, 7, 7);
        padding :0px 200px;
        word-spacing: 2px;

        }
a{
    
    color: #055e19;
    text-decoration: none;
    padding: 5px 8px;
    
}